accounts:

items:

categories:
barcode=kat0000;id=Grøntsager;icon=bladgroent;lifespan=10
barcode=kat0001;id=Frugt;icon=banan;lifespan=8
barcode=kat0002;id=Pakket kød;icon=udskaering_af_koed;lifespan=15
barcode=kat0003;id=Slagtervarer;icon=bacon;lifespan=20
barcode=kat0004;id=Fisk & skaldyr;icon=fisk;lifespan=8
barcode=kat0005;id=Oste;icon=ostebaad;lifespan=25
barcode=kat0006;id=Mejeriprodukter;icon=glas_med_maelk;lifespan=10
barcode=kat0007;id=Drikkevarer;icon=drikkevareboks;lifespan=60
barcode=kat0008;id=Brød;icon=broed;lifespan=12
barcode=kat0009;id=Kager;icon=foedselsdagskage;lifespan=8
barcode=kat0010;id=Slik & snacks;icon=slikkepind;lifespan=30
barcode=kat0011;id=Frostvarer;icon=snefnug;lifespan=60
barcode=kat0012;id=Elektronik;icon=stationaer_computer;lifespan=700
barcode=kat0013;id=Sport & fritid;icon=basketball;lifespan=20
barcode=kat0014;id=Bøger;icon=boeger;lifespan=5000
barcode=kat0015;id=Kontorartikler;icon=papirklip;lifespan=20
